body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  /* display: inline-block; */
  margin: 1em;
}
#cart {
  display: inline-block;
  margin: left;
}
form div {
  margin: 1em;
  display: inline-block;
}
img {
  width: 250px;
  height: 200px;
}
.cartImage {
  width: 40px;
  height: 40px;
}

.margin {
  padding-top: 5%;
}

.navbar-brand {
  background-color: rgb(247, 198, 158);
}
