body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  /* display: inline-block; */
  margin: 1em;
}
#cart {
  display: inline-block;
  margin: left;
}
form div {
  margin: 1em;
  display: inline-block;
}

#logo {
  width: 100px;
  height: 50px;
}
#homeImg {
  width: 375px;
  height: 250px;
}
#homeImg2 {
  width: 450px;
  height: 250px;
}
#welcomeIMG {
  width: auto;
  height: auto;
}
#allBanner {
  width: 800px;
  height: 250px;
}
img {
  width: 200px;
  height: 150px;
}

.cartImage {
  width: 40px;
  height: 40px;
}

#singleTitle {
  color: #8e67ba;
}
/* .margin {
  padding-top: 3%;
} */

.navbar-brand {
  background-color: rgb(247, 198, 158);
}
